*{
    font-family: calibri;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;

}
.logo{
    font-size: small;

}
.nav{
    margin: 10px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    

}
.nav li{
    display: flex;
    padding: 0;
}
.nav li a{
    justify-content: 20px;
    text-decoration: none;
    color: black;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}



.head{
  margin-left: 60px;
  margin-right: 60px;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 100px;
}
.head img{
    
 
    float: right;

    width: 600px;
    height: 600px;
 
}
.headfirst{
    font-size: 20px;
    
    font-weight: bold;
}
.header h1{
    font-family: sans-serif;
    font-size: 8rem;
}

.headp{ font-size: large;
    
}
hr{
    border: 0;
    border-top: 2px solid rgba(0, 0,0,0.1);
    height: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    margin-left: 60px;
    margin-right: 60px;
}
.Google{
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
    display: flex;
 
    gap: 225px;
    font-style: 1.5rem;
    
    justify-content: center;
}
#tex{
    font-size: 2rem;
    font-family:Gigi;font-weight: bold;
}
#go{
    font-size: 2rem;
}
.card{
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
padding-top: 100px;
}
.card p{
    font-size: 15px;
    line-height: 1.3em;
    color: #555;
}
.cards{
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}
.work h1{
    display: flex;
    justify-content: center;
}
.work{
    margin-left: 60px;
    margin-right: 60px;
   text-align: center;
   padding-top: 100px;
}
.mycards{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 20px;
    max-width: 100%;
    margin: 0 ;
}
.cardwork{
    padding: 15px;
    text-align: left;
}
.cardwork p{
    color: #666;
}
.cardwork img{
    width: 100%;
    height: auto;
}
.client h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.cli h1{

    display: flex;
    margin-bottom: 90px;
    justify-content: center;
}
.cli{
    margin-left: 60px;
    margin-right: 60px;
    
    margin-bottom: 100px;
    padding: 20px;
}
.maincard{
    justify-content: space-between;
    display: flex;
   flex-direction: row;
    gap: 30px;
}
.allcard{

    background-color: #fcf6ed;
    border: 2px solid #e3f18b;
    padding: 20px;
    width: 300px;
}
.para{

    font-size: 22px;
    line-height: 1.5em;
}
.img{
    display: flex;
    float: left;
    padding: 0;
    margin-right: 20px;
   
}
.cardp{
    display: flex;
    color: #666;
   
}
.viewcards{
   
    margin-top: 60px;
}
.last{
  
   
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}
.left{
   
    width: 50%;
    
}
.foot{
    width: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
   
}
.footimg{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
.foot p{
    margin-top: 40px;
    margin-right: 50px;
    font-weight: lighter;
    font-size: 24px;
    color: #2d2d2d;
    padding-right: 155px;
    line-height: 28px;
}

    input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    
    
    border: none;
    background-color:#f3f3f3;
}
button{
    background-color: #282828;
    color: #fff;
    padding: 14px 40px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
.from{
    width: 50%;
   float: left;
   
}
.left h1{
    font-size: 3rem;
}

.about{
    display: flex;
    justify-content: center;
    background-color: #f9e6f0;
}
.about img{
    border: 2px solid black;
}
.in{
    padding:150px;
}
.about-para{
    padding-top: 200px;
    padding-right: 265px;

    font-size: 28px;
    line-height: 2rem;
}
.about-para p {
    color: #2d2d2d;
    font-weight: 400px;

}
.h2{
  display: flex;
   
line-height: 1.5em;
font-size: 38px;

}
.aboutmidle{padding-left: 150px;
   padding-right: 290px;
    padding-top: 70px;
}
#being{
    background-color: #009379;
    color: white;
    font-size: 22px;
    padding: 5px;
    font-family: calibri;
    padding-left: 0;
    margin: 0;
    
}
.aboutfont{
    font-family: calibri;
}
.trypara{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size:24px ;
}
#trypara{
margin-bottom: 120px;
}